name: Create Artifact

on:
  push

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: 20

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: x86_64-pc-windows-msvc
          default: true

      - name: Cache
        id: cache
        uses: actions/cache@v3.3.3
        with:
          path: node_modules
          key: buildCachev25

      - name: Cache
        id: cache2
        uses: actions/cache@v3.3.3
        with:
          path: Mod Manager/node_modules
          key: buildCache2v20

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          npm install

      - name: Prep
        run: |
          npm install -g @yao-pkg/pkg typescript @napi-rs/cli

      - name: Build Rust code
        run: |
          cd rust
          yarn
          yarn build
          cd ../
          copy ./rust/index.d.ts ./src/smf-rust.d.ts
          copy ./rust/rust.win32-x64-msvc.node ./src/smf-rust.node

      - name: Build EXE
        env:
          NODE_OPTIONS: "--max-old-space-size=4096"
        run: |
          New-Item -ItemType Directory -Force -Path ./node_modules/piscina
          robocopy ./piscina ./node_modules/piscina /COPYALL /E /is /it; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }
          tsc
          copy ./src/smf-rust.node ./compiled/smf-rust.node
          copy ./src/smf-rust.d.ts ./compiled/smf-rust.d.ts
          pkg package.json --targets win-x64 --output Deploy.exe --no-bytecode --public-packages '*' --public

      - name: Ready for zip
        run: |
          New-Item -ItemType Directory dist
          New-Item -ItemType Directory dist/Info
          New-Item -ItemType Directory dist/API
          robocopy "./For Build" ./dist /COPYALL /E; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }
          robocopy ./docs ./dist/Info /COPYALL /E; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }
          robocopy ./compiled ./dist/API /COPYALL /E; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }
          copy Deploy.exe dist

      - name: Zip
        uses: TheDoctor0/zip-release@4fb9e4ff72847dd3d1c111cf63834e353ed7cb3d
        with:
          filename: Release.zip
          directory: dist

      - uses: actions/upload-artifact@v2
        with:
          name: Output
          path: dist/Release.zip
